<div class="card">
  <div>
    <img src="img/<%= city[:image] %>" class='img-fluid' alt='Card image cap' style='max-height:200px'>
  </div>
  <div>
    <h2><a href="<%= city[:url] + city[:proposal][:href] %>"><%= city[:proposal][:title].capitalize %><a/></h2>
    <p class="card-text"><%= city[:proposal][:description] %></p>
    <p><span class="badge badge-pill badge-info"><%= city[:name].upcase %></span></p>
  </div>
</div>
